body{
  margin:0;
  background:#ffe5d0;
  font-family:'Playfair Display', serif;
  overflow:hidden;
}

#startScreen{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#heartStart{
  font-size:70px;
  cursor:pointer;
  transition:1s;
}

#heartStart.drop{
  transform:translateY(80vh);
  opacity:0;
}

.valentin{
  font-family:'Pinyon Script', cursive;
  font-size:40px;
}

#mainScene{
  display:none;
  height:100vh;
  width:100%;
  justify-content:space-between;
}

#leftText{
  width:45%;
  padding:40px;
}

#rightTree{
  width:55%;
  position:relative;
}

#ground{
  position:absolute;
  bottom:30px;
  height:4px;
  background:black;
  width:0%;
  left:50%;
  transform:translateX(-50%);
}

.showGround{
  animation:groundExpand 1s forwards;
}

@keyframes groundExpand{
  to{width:100%;}
}

#treePath{
  fill:none;
  stroke:#6b3e26;
  stroke-width:6;
  stroke-dasharray:1000;
  stroke-dashoffset:1000;
}

.drawTree{
  animation:draw 4s forwards;
}

@keyframes draw{
  to{stroke-dashoffset:0;}
}

.moveRight{
  transform:translateX(80px);
  transition:2s;
}

.leaf{
  position:absolute;
  width:20px;
  height:20px;
  clip-path:polygon(50% 0%, 61% 12%, 75% 12%, 82% 25%, 82% 38%, 50% 70%, 18% 38%, 18% 25%, 25% 12%, 39% 12%);
}

.fall{
  animation:falling 5s linear forwards;
}

@keyframes falling{
  to{
    transform:translate(-200px,400px) rotate(720deg);
    opacity:0;
  }
}

#contador{
  margin-top:30px;
  font-size:18px;
}

.counterBox{
  font-family:'Pinyon Script', cursive;
  font-size:28px;
}

.time{
  margin-top:10px;
  font-size:20px;
}
