body{
  margin:0;
  background: linear-gradient(to bottom,#d8a7d8,#8ea6d8);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  overflow:hidden;
  font-family: 'Segoe UI', sans-serif;
}

.container{
  text-align:center;
  position:relative;
}

#scene{
  width:340px;
}

.counter{
  color:white;
  font-size:28px;
  margin-top:15px;
  opacity:0;
}

.message{
  color:white;
  font-size:18px;
  opacity:0;
}
