body {
    margin:0;
    background:#f4cbb8;
    overflow:hidden;
    font-family: 'Playfair Display', serif;
}

/* START SCREEN */

#startScreen {
    position:fixed;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#f4cbb8;
    z-index:10;
}

#startHeart {
    width:100px;
    height:90px;
    background:#ff4d6d;
    position:relative;
    transform:rotate(-45deg);
    cursor:pointer;
    transition:0.3s;
}

#startHeart:before,
#startHeart:after {
    content:"";
    width:100px;
    height:90px;
    background:#ff4d6d;
    border-radius:50%;
    position:absolute;
}

#startHeart:before { top:-50px; left:0; }
#startHeart:after { left:50px; top:0; }

.startText {
    margin-top:20px;
    font-size:28px;
    font-family:'Pinyon Script', cursive;
}

/* SCENE */

#scene {
    display:none;
    width:100%;
    height:100vh;
    position:relative;
}

/* LINEA */

#ground {
    position:absolute;
    bottom:60px;
    height:4px;
    background:black;
    width:0;
    left:50%;
    transform:translateX(-50%);
}

/* TREE */

#treeContainer {
    position:absolute;
    bottom:60px;
    left:50%;
    transform:translateX(-50%);
    transition:1.5s ease;
}

#treeSVG {
    width:300px;
    height:400px;
}

#treePath {
    fill:none;
    stroke:#8b5a2b;
    stroke-width:8;
    stroke-linecap:round;
    stroke-dasharray:1000;
    stroke-dashoffset:1000;
}

/* HEART LEAVES */

.heartLeaf {
    position:absolute;
    font-size:18px;
    animation:float 6s linear infinite;
}

@keyframes float {
    0% { transform:translate(0,0) rotate(0deg); opacity:1;}
    100% { transform:translate(-200px,400px) rotate(180deg); opacity:0;}
}

/* TEXT */

#textContainer {
    position:absolute;
    left:10%;
    top:20%;
    width:35%;
}

#timer {
    font-size:22px;
    margin-bottom:20px;
}

#letter {
    font-size:22px;
    line-height:1.6;
}
